{% load static %}
<!DOCTYPE html>
<html>

<head>
	<title>{{title}}</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">
	{% load static %}
	<link href="{% static 'css/style.css' %}" rel='stylesheet' type='text/css' />
	<link href="https://fonts.googleapis.com/css?family=Peralta" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script> 
</head>

<body> 
	{% block menu_header %}
	{% include 'menu_header.html' %}
	{% endblock %}
	{% block menu %}
	{% include 'menu.html' %}
	{% endblock %}
	{% block header %}

	{% endblock %}

	{% block content %}
	{% endblock %} 
	{% block footer %}
<div class="py-4 bg-dark text-white" id="footer">
  <div class="container text-center">
    <small>Copyright &copy; Your Website</small>
  </div>
</div> 
{% endblock %}
	{% block scripts %} 
			<script
			  src="https://code.jquery.com/jquery-3.4.1.slim.js"
			  integrity="sha256-BTlTdQO9/fascB1drekrDVkaKd9PkwBymMlHOiG+qLI="
			  crossorigin="anonymous"></script>
	  <script src = "{% static 'js/javascr.js' %}"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>

	{% endblock %} 
	
</body> 
</html>
