{% load static %}
{% block menu_header %}
<nav class="navbar navbar-dark bg-dark">
    <button type="button" class="btn btn-primary" data-toggle="collapse" data-target="#show">
        <img src="{% static 'main_images/cart.png' %}" alt="" /></button>
    <div id="show" class="collapse">
        {% if not cart %}
            <p>Ваша корзина пуста</p>
        {% else %}
            <a href="{% url 'cart_all' %}">Количество товаров в корзине: {{cart}}</a>
        {% endif %}
    </div>
    <ul class="nav navbar-tabs navbar-right">
        {% if user.is_authenticated %}
            <li class="p-3 welcome">
                <p>Welcome, {{user}}!</p>
            </li>
            <li class="p-3"><a href="{% url 'logout' %}">Log out</a></li>
        {% else %}
            <li class="p-3"><a href="{% url 'login' %}">Login</a></li>
        {% endif %}
        <li class="p-3"><a href="{% url 'signup' %}">Sign up</a></li>
    </ul>
</nav>
{% endblock %}
